
        <div class="c-blog anim anim--up">
            <div class="c-blog__blog">
                <header class="o-header">
                    <h2 class="o-lead--1">Blog</h2>

                    <a href="#" class="o-btn o-btn--minor o-btn--black">Zobacz pozostałe</a>
                </header>
                
                <div class="o-cols">
                    <a href="#" class="o-cols__item">
                        <figure>
                            <span class="photo">

<!--                                 <img srcset="./img/photos/blog/blog.jpg 1x, ./img/photos/blog/blog@2x.jpg 2x" src="./img/photos/blog/blog.jpg" alt=""> -->
                            
                                <img 
                                    class="b-lazy"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                    data-src=<%=require("./img/photos/blog/blog.jpg") %>|<%=require("./img/photos/blog/blog@2x.jpg") %> alt="">
                            </span>
                                
                            <figcaption>
                                <p>Lorem ipsum doloret sit amet list and comparison of serious open-source eCommerce</p>
                            </figcaption>
                        </figure>
                        
                        <article class="o-article">
                            <p>Our most comprehensive report on eCommerce trends and technologies - now free and ungated! Download the full version for free and get a quick overview…</p>
                        </article>
                        
                        <div class="o-author">
                            <img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/blog/avatar.jpg") %>|<%=require("./img/photos/blog/avatar@2x.jpg") %> 
                                width="45" height="45" alt="">
                                
                            <span>Tomasz Skoczyński</span>
                        </div>
                        
                        <p class="o-more o-more--arrow">Czytaj więcej</p>
                    </a>
                    
                    <a href="#" class="o-cols__item">
                        <figure>
                            <span class="photo">
<!--                                 <img srcset="./img/photos/blog/blog.jpg 1x, ./img/photos/blog/blog@2x.jpg 2x" src="./img/photos/blog/blog.jpg" alt=""> -->

                                <img 
                                    class="b-lazy"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                    data-src=<%=require("./img/photos/blog/blog.jpg") %>|<%=require("./img/photos/blog/blog@2x.jpg") %> alt="">
                            </span>
                                
                            <figcaption>
                                <p>Lorem ipsum doloret sit amet list and comparison of serious open-source eCommerce</p>
                            </figcaption>
                        </figure>
                        
                        <article class="o-article">
                            <p>Our most comprehensive report on eCommerce trends and technologies - now free and ungated! Download the full version for free and get a quick overview…</p>
                        </article>
                        
                        <div class="o-author">
                            <img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/blog/avatar.jpg") %>|<%=require("./img/photos/blog/avatar@2x.jpg") %> 
                                width="45" height="45" alt="">
                                
                            <span>Tomasz Skoczyński</span>
                        </div>
                        
                        <p class="o-more o-more--arrow">Czytaj więcej</p>
                    </a>
                </div>
            </div>
            
            <div class="c-blog__press anim anim--up">
                <header class="o-header">
                    <h2 class="o-lead--1">Biuro prasowe</h2>
                </header>
                
                <ul>
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                    
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                    
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                    
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                    
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                    
                    <li>
                        <a href="#">Lorem ipsum amet list and comparison of serious open-source eCommerce</a>
                    </li>
                </ul>
            </div>
        </div>
