
        <div class="c-team">
            <div class="o-cols">
                <div class="o-cols__item anim anim--up">
                    <ul class="c-hexagons">
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/01.jpg") %>|<%=require("./img/photos/team/01@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/02.jpg") %>|<%=require("./img/photos/team/02@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li class="textinside">
                            <div class="text">
                                <p class="o-lead--1"><span class="js-count" data-count="5"></span></p>
                                <p>lat na rynku</p>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="c-hexagons">
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/03.jpg") %>|<%=require("./img/photos/team/03@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/04.jpg") %>|<%=require("./img/photos/team/04@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li class="textinside">
                            <div class="text">
                                <p class="o-lead--1"><span class="js-count" data-count="40"></span>+</p>
                                <p>pracowników</p>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="c-hexagons">
                        <li class="textinside">
                            <div class="text">
                                <p class="o-lead--1"><span class="js-count" data-count="150"></span>+</p>
                                <p>klientów</p>
                            </div>
                        </li>
                        
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/05.jpg") %>|<%=require("./img/photos/team/05@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li>
                        	<img 
                                class="b-lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                data-src=<%=require("./img/photos/team/06.jpg") %>|<%=require("./img/photos/team/06@2x.jpg") %> 
                                width="220" alt="">
                        </li>
                        
                        <li class="textinside">
                            <div class="text">
                                <p class="o-lead--1"><span class="js-count" data-count="25"></span> tys.+</p>
                                <p>paczek co miesiąc</p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="o-cols__item anim anim--right anim--delay2">
                    <article class="o-article">
                        
                        <h2>Poznaj IMKER</h2>
                        
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices diam quis turpis egestas pretium. Donec sagittis fringilla purus, commodo porttitor magna pretium id. Morbi eu gravida arcu, vitae dapibus mauris. Quisque ac bibendum tortor, sollicitudin fermentum orci. <span>Nulla volutpat arcu nec lectus egestas, nec ultrices leo blandit. Nunc vulputate eget ex at ornare. Sed luctus nisl nec arcu rutrum, ultricies iaculis tortor ullamcorper.</span></p>
                    </article>
                    
                    <a href="" class="o-more o-more--arrow">Czytaj więcej</a>
                </div>
            </div>
            
        </div>
